################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/azure-diagnostic/.vs/azure-diagnostic
